# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.log

# Python Packaging
build/
dist/
*.egg-info/

# Cache
.cache/